In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
import os
import sys
os.chdir('/content/drive/MyDrive/Colab Notebooks/NLP-Project')

In [4]:
!pip install pandas

Collecting pandas
  Using cached pandas-0.24.2-cp27-cp27m-win_amd64.whl (8.3 MB)
Collecting pytz>=2011k
  Using cached pytz-2021.3-py2.py3-none-any.whl (503 kB)
Collecting numpy>=1.12.0
  Downloading numpy-1.16.6-cp27-cp27m-win_amd64.whl (11.9 MB)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\python27\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\python27\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.16.6 pandas-0.24.2 pytz-2021.3

DEPRECATION: Python 2.7 reached the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 is no longer maintained. pip 21.0 will drop support for Python 2.7 in January 2021. More details about Python 2 support in pip can be found at https://pip.pypa.io/en/latest/development/release-process/#python-2-support pip 21.0 will remove support for this functionality.

In [ ]:
import random
import pandas as pd
import csv

dataset = []
for i in range(20000):
  op1 = (random.randint(1,1000))
  op2 = (random.randint(1,1000))
  sum = op1+op2
  print ("op1:",op1,"op2:",op2,"sum:",sum)
  row="The sum of "+str(op1)+" and "+str(op2)+" is "+str(sum)
  dataset.append(row)

In [20]:
df_dataset = pd.DataFrame(dataset, columns=["text"])
df_dataset.head()

                             text
0  The sum of 875 and 221 is 1096
1    The sum of 333 and 27 is 360
2  The sum of 855 and 728 is 1583
3  The sum of 735 and 514 is 1249
4  The sum of 927 and 728 is 1655

In [18]:
len(df_dataset.text.unique())

19790

In [23]:
df_dataset.to_csv('data_p7.csv', index = False, header=None, columns=["text"])

In [24]:
data_test = pd.read_csv('data_p7.csv')
data_test.head(10)

   The sum of 875 and 221 is 1096
0    The sum of 333 and 27 is 360
1  The sum of 855 and 728 is 1583
2  The sum of 735 and 514 is 1249
3  The sum of 927 and 728 is 1655
4  The sum of 310 and 909 is 1219
5   The sum of 955 and 63 is 1018
6   The sum of 271 and 240 is 511
7  The sum of 688 and 925 is 1613
8  The sum of 566 and 474 is 1040
9  The sum of 424 and 737 is 1161