In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [110]:
import os
import sys
os.chdir('D:\MSCS\First_Sem\CSE546_Nlp\Final_Project\NLP-CSE576_Project')

In [207]:
masked_sentences = []
targets = []

In [208]:
def mask_sentence(num_digits):
    f_in = open("Pretrain-text-source-generation\data_p7.csv", "r")
    line = f_in.readline()

    while(line):
        without_mask = [(line.index(num), num) for num in line.split() if num.isdigit()]
        randomlist = random.sample(range(0, len(without_mask)), 2)
        for i in randomlist:
            masking_input = without_mask[i][1]
            n = len(masking_input)
            start_index = list(masking_input[0:n-num_digits])

            if len(start_index) < 1:
                continue
            rand_start_index = random.sample(range(0, len(start_index)), 1)[0]
            mask_start_index = without_mask[i][0]+rand_start_index
            target = line[mask_start_index:mask_start_index+num_digits]
            with_mask = line[:mask_start_index] + "<extra_id_0>" + line[mask_start_index+num_digits:]
            masked_sentences.append(with_mask.rstrip())
            targets.append(target)

        line = f_in.readline()
f_in.close()

In [209]:
mask_sentence(1)
mask_sentence(2)

In [210]:
df_dataset = pd.DataFrame([(a, b) for a, b in zip(masked_sentences,targets)], columns=["text", "targets"])
df_dataset.head()

                                        text targets
0  The sum of 875 and <extra_id_0>21 is 1096       2
1  The sum of 875 and 221 is <extra_id_0>096       1
2    The sum of <extra_id_0>33 and 27 is 360       3
3    The sum of 333 and <extra_id_0>7 is 360       2
4  The sum of 855 and 7<extra_id_0>8 is 1583       2

In [211]:
df_dataset.drop_duplicates(subset=['text'], inplace=True)

In [212]:
df_dataset.to_csv('Pretrain-text-source-generation\dataset.csv', index = False, header=None, columns=["text","targets"])