In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os
import sys
os.chdir('/content/drive/MyDrive/NLP-Project')

In [8]:
import random
import pandas as pd
import csv 

f = open("/content/drive/MyDrive/NLP-Project/data_p7.csv", "w")
writer = csv.writer(f)
for i in range(20000):
  op1 = (random.randint(1,1000))
  op2 = (random.randint(1,1000))
  sum = op1+op2
  row="The sum of "+str(op1)+" and "+str(op2)+" is "+str(sum)
  l = []
  l.append(row)
  writer.writerow(l)
f.close()

In [9]:
f_in = open("/content/drive/MyDrive/NLP-Project/data_p7.csv", "r")
f_out = open("/content/drive/MyDrive/NLP-Project/dataset.csv", "w")
line = f_in.readline()
while(line):
  without_mask = [(i, c) for i, c in enumerate(line) if c.isdigit()]
  with_mask = ""
  randomlist = random.sample(range(0, len(without_mask)), 2)
  op1 = without_mask[randomlist[0]]
  op2 = without_mask[randomlist[1]]
  for x,i in enumerate([op1,op2]):
    with_mask = line[:i[0]] + "<mask>" + line[i[0]+1:]
    f_out.writelines(with_mask)
  line = f_in.readline()
f_in.close()
f_out.close()

In [10]:
df = pd.read_csv("/content/drive/MyDrive/NLP-Project/dataset.csv")
df.head()

     The sum of 261 and <mask>1 is 332
0    The sum of 261 and 7<mask> is 332
1    The sum of 457 and 51 is 50<mask>
2    The sum of 457 and <mask>1 is 508
3  The sum of <mask>98 and 959 is 1157
4  The sum of 19<mask> and 959 is 1157